* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: black;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* ========== section ========== */
section {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  gap: 1rem;

  padding-block: 4rem;
  background: #ffdab9;
}

/* ========== article ========== */
article {
  grid-column: 2;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.content > p {
  color: #72f1b8;
}

p + figure {
  /*ved siden af*/
  margin-top: 1rem;
}

/* ========== gallery ========== */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.gallery img {
  height: 100%;
  object-fit: cover;
}

/* ===== layout ===== */
.container {
  display: grid;
  place-content: center start;
  width: 100px;
  height: 100px;
}

h1 {
  display: revert;
}
h2 {
  font-family: "Baskervville", serif;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
